/* 设置背景图形，并使之居中、固定、保持比例等 */
.DocumentContainer {
background:url(https://pimfans.hintsnet.com/qna/181007/bcHCk3FKJd.jpg?imageslim/.jpg) no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}
/* 设置文档区域边框和背景色 */
.Document {
border-radius:8px;
margin:10px;
background-color:rgba(255,255,85,0.5);
}
/* 设置顶层节点文字不模糊 */
.Document-rootNode > .Node > .Node-self, .Document-rootNode > .Node > .Node-self {
filter:none;
-webkit-filter:none;
}
.Document-rootNode > .Node > .Node-self > .Node-contentContainer, .Document-rootNode > .Node > .Node-self > .Node-noteContainer {
padding-left:12px;
}
/* 设置一般节点区域的边框和背景色（嵌套时有叠加效果） */
.Node {
box-shadow:1px 1px 1px 1px #777777;
border-radius:8px;
margin:10px;
background-color:rgba(255,200,0,0.56);
filter:brightness(87%) contrast(127%);
-webkit-filter:brightness(87%) contrast(127%);
}
.Node.is-selected .Node-self, .GlobalSearchPage-resultsInDocument .Node-self {
filter:none;
-webkit-filter:none;
}
/* 设置一般节点标题的下划线 */
.Node-contentContainer {
border-bottom:1px dotted #222222;
border-radius:0px;
}
/* 设置一般节点边界内部内容块的空白填充等 */
.Node-self {
padding-top:5px;
padding-bottom:8px;
filter:blur(4px);
-webkit-filter:blur(4px);
}
.Node-self.is-hovering {
filter:none;
-webkit-filter:none;
}

/* 设置当前正在编辑的节点的标题和正文背景色为高亮显示 */
.Node:not(.is-currentRoot) .Node-self:not(.is-contentRendered), .Node:not(.is-currentRoot) .Node-self:not(.is-noteRendered) {
background-clip:content-box;
background-color:rgba(255,255,245,0.5);
filter:none;
-webkit-filter:none;
}

.Node-children {
border-left:0px dashed gray;
}

.node-line.Node-contentContainer, .Node-content.node-line.needsclick {
padding-bottom:3px;
}

.Node-renderedNote, .Node-note {
height:24px;
line-height:180%;
}
/* 取消 inline code 的 vertical-align 属性 */
.node-inline-code {
margin-top:12px;
vertical-align:baseline;
}
/* 设置标签内容的背景色 */
.node-tag {
border:1px dotted silver;
border-radius:5px;
background-color:#eeffff;
padding-left:5px;
padding-right:5px;
text-decoration:none;
}
/* 设置图片内容的宽度、边界和空白填充等 */
.node-displayed-image {
border-radius:10px;
padding:5px;
max-width:98%;
}
